<%= form.input("mobile_phone_number") %>
<%= form.input("verification_code", class: "verification-code-input") %>

<div class="actions">
  <%= link_to "Enviar codigo", "#", class: "button expanded send-sms-code"%>
</div>

<%= javascript_pack_tag "decidim_verifications_sms_direct" %>
