<%#= form.all_fields %>

<%= form.input("mobile_phone_number") %>

<div class="actions">
  <%= link_to "Enviar codigo", "#", class: "button expanded send-sms-code"%>
</div>

<%= javascript_pack_tag "decidim_sms_verificator" %>